Repository DOSOPT-CDS-WEB-4/CGV-Web-Client, pull requests merged in 2023-11, with the labels that each got.

#39 [SelectTime] 지역 선택 section
  src/components/SelectTime/MovieInfo.tsx
  src/components/SelectTime/SelectRegion.jsx
  src/pages/SelectTime.tsx
Labels: 🌱 Feat, 🎈 Fix, ⏱️ SelectTime

#40 [SelectTime] 인원 선택 bottomsheet
  index.html
  src/Router.tsx
  src/assets/icon/ic_close.svg
  src/assets/icon/index.ts
  src/assets/image/img_seat.png
  src/components/Common/bottomSheet/BottomSheetFrames.tsx
  src/components/Common/bottomSheet/BottomSheetPortal.tsx
  src/components/SelectPerson/SelectPersonBottomSheet/SelectPersonBottomSheet.tsx
  src/components/SelectTime/SelectPerson/SelectPersonBottomSheet.tsx
  src/components/SelectTime/SelectPerson/SelectPersonBottomSheetAtoms/SelectPersonBottomSheetBtn.tsx
  src/components/SelectTime/SelectPerson/SelectPersonBottomSheetAtoms/SelectPersonBottomSheetContents.tsx
  src/components/SelectTime/SelectPerson/SelectPersonBottomSheetAtoms/SelectPersonBottomSheetHeader.tsx
  src/hooks/useBottomSheet.tsx
  src/pages/SelectPersonTest.tsx
  src/pages/SelectTime.tsx
  src/styles/animations/BottomSheetAnimation.ts
Labels: 🌱 Feat, 🦋 Design, ⏱️ SelectTime

#33 [Payment] 결제하기 페이지 영화 정보 section component UI
  src/components/Payment/PaymentMovieInfo.tsx
  src/pages/Payment.tsx
Labels: 🌱 Feat, 🦋 Design, 💸 Payment

#32 [Payment] 결제하기 페이지 헤더 UI 구현
  src/components/Payment/PaymentHeader.tsx
  src/pages/Payment.tsx
Labels: 🌱 Feat, 🦋 Design, 💸 Payment

#25 [Home] 메뉴바 UI 구현
  src/components/Home/MenuBar.tsx
  src/pages/Home.tsx
Labels: 🌱 Feat, 📃🪼 Docs, 🏠 Home

#26 [Home] 최상단 Header 구현
  package-lock.json
  src/Router.tsx
  src/assets/icon/ic_arrow_front.svg
  src/assets/icon/ic_hamburger_black.svg
  src/assets/icon/ic_membership.svg
  src/assets/icon/ic_search.svg
  src/assets/icon/ic_ticket.svg
  src/assets/icon/index.ts
  src/assets/image/img_movie2.png
  src/assets/image/img_mymenu1.png
  src/assets/image/img_mymenu2.png
  src/assets/image/img_mymenu3.png
  src/assets/image/img_ticket.png
  src/components/Home/CarouselCommercial.tsx
  src/components/Home/HomeHeader.tsx
  src/components/Home/MyTicket.tsx
  src/pages/Home.tsx
Labels: 🌱 Feat, 🦋 Design, 🏠 Home

#45 [Home] 캐러셀 광고 슬라이드 구현
  package.json
  src/assets/image/img_ad1.png
  src/assets/image/img_ad2.png
  src/assets/image/img_ad3.png
  src/assets/image/img_ad4.png
  src/components/Home/CommercialSlider.tsx
  src/pages/Home.tsx
  yarn.lock
Labels: 🌱 Feat, 🏠 Home

#28 [Home] 무비 차트 카테고리 헤더 구현
  src/assets/icon/index.ts
  src/components/Home/MovieChartHeader.tsx
Labels: 🌱 Feat, 🦋 Design, 🏠 Home

#29 [Home] My Cgv 메뉴바 구현
  src/assets/image/img_menu1.png
  src/assets/image/img_menu2.png
  src/assets/image/img_menu3.png
  src/assets/image/img_menu4.png
  src/components/Home/MyCgvMenu.tsx
Labels: 🌱 Feat, 📃🪼 Docs, 🦋 Design, 🏠 Home

#30 [Home] Top Button 구현
  src/assets/icon/ic_btn_up.svg
  src/assets/icon/index.ts
  src/components/Home/TopButton.tsx
Labels: 🌱 Feat, 🦋 Design, 🏠 Home

#44 [Home] 지금 예매 플로팅 버튼 구현
  src/components/Home/BookingFloatingButton.tsx
  src/styles/style.d.ts
  src/styles/theme.ts
Labels: 🌱 Feat, 🦋 Design, 🏠 Home

#43 [Home] MovieCard 구현
  package.json
  src/assets/icon/ic_heart_off.svg
  src/assets/icon/ic_heart_on.svg
  src/assets/icon/index.ts
  src/assets/image/img_all.png
  src/assets/image/img_movie1.png
  src/assets/image/img_movie2.png
  src/assets/image/img_movie3.png
  src/assets/image/img_movie4.png
  src/assets/image/img_movie5.png
  src/components/Home/MovieCard.tsx
  src/components/Home/MovieCardSlider.tsx
  src/constants/Movie.ts
  yarn.lock
Labels: 🌱 Feat, 🦋 Design, 🏠 Home

#34 [Payment] 결제하기 페이지 가격 옵션 component UI 구현
  src/assets/constants/PAYMENT_PRICE_OPTIONS.ts
  src/assets/icon/ic_arrow_bottom.svg
  src/assets/icon/index.ts
  src/assets/image/img_toss_banner.png
  src/components/Payment/PaymentPriceOptions.tsx
  src/pages/Payment.tsx
Labels: 🌱 Feat, 🦋 Design, 💸 Payment

#35 [Payment] 결제하기 페이지 결제정보 선택 박스 UI 구현
  src/assets/constants/PAYMENT_METHOD.ts
  src/assets/icon/ic_card_default.svg
  src/assets/icon/ic_card_selected.svg
  src/assets/icon/ic_check.svg
  src/assets/icon/ic_toss.svg
  src/assets/icon/index.ts
  src/components/Payment/PaymentPriceInfo/PaymentMethodBox.tsx
  src/components/Payment/PaymentPriceInfo/PaymentPriceInfo.tsx
  src/pages/Payment.tsx
Labels: 🌱 Feat, 🦋 Design, 💸 Payment

#36 [Payment] Payment 페이지 결제하기 플로팅 바텀시트 구현
  src/assets/icon/ic_arrow_up.svg
  src/assets/icon/index.ts
  src/components/Payment/PaymentBottomSheetFooter.tsx
  src/pages/Payment.tsx
Labels: 🌱 Feat, 🦋 Design, 💸 Payment

#51 [Payment] Payment 페이지 합치기
  src/components/Payment/PaymentBottomSheetFooter.tsx
  src/components/Payment/PaymentPriceInfo/PaymentMethodBox.tsx
  src/components/Payment/PaymentPriceInfo/PaymentPriceInfo.tsx
  src/pages/Payment.tsx
Labels: 🦋 Design, 🎈 Fix, 💸 Payment

#47 [SelectTime] 상영관 선택 section UI 구현
  src/components/SelectTime/SelectDate.tsx
  src/components/SelectTime/SelectMovie.jsx
  src/pages/SelectTime.tsx
Labels: 🌱 Feat, ⏱️ SelectTime

#48 [SelectTime] 날짜 선택 section
  src/components/SelectTime/SelectDate.tsx
Labels: 🌱 Feat, ⏱️ SelectTime

#49 [Home] Merge 완료
  package-lock.json
  package.json
  src/Router.tsx
  src/assets/icon/ic_arrow_front.svg
  src/assets/icon/ic_btn_up.svg
  src/assets/icon/ic_hamburger_black.svg
  src/assets/icon/ic_heart_off.svg
  src/assets/icon/ic_heart_on.svg
  src/assets/icon/ic_membership.svg
  src/assets/icon/ic_search.svg
  src/assets/icon/ic_ticket.svg
  src/assets/icon/index.ts
  src/assets/image/img_ad1.png
  src/assets/image/img_ad2.png
  src/assets/image/img_ad3.png
  src/assets/image/img_ad4.png
  src/assets/image/img_all.png
  src/assets/image/img_menu1.png
  src/assets/image/img_menu2.png
  src/assets/image/img_menu3.png
  src/assets/image/img_menu4.png
  src/assets/image/img_movie1.png
  src/assets/image/img_movie2.png
  src/assets/image/img_movie3.png
  src/assets/image/img_movie4.png
  src/assets/image/img_movie5.png
  src/assets/image/img_mymenu1.png
  src/assets/image/img_mymenu2.png
  src/assets/image/img_mymenu3.png
  src/assets/image/img_ticket.png
  src/components/Home/BookingFloatingButton.tsx
  src/components/Home/CommercialSlider.tsx
  src/components/Home/HomeHeader.tsx
  src/components/Home/MenuBar.tsx
  src/components/Home/MovieCard.tsx
  src/components/Home/MovieCardSlider.tsx
  src/components/Home/MovieChartHeader.tsx
  src/components/Home/MyCgvMenu.tsx
  src/components/Home/MyPage.tsx
  src/components/Home/MyTicket.tsx
  src/components/Home/TopButton.tsx
  src/components/SelectTime/SelectTimeHeader.tsx
  src/constants/Dummy.ts
  src/constants/Movie.ts
  src/pages/Home.tsx
  src/styles/style.d.ts
  src/styles/theme.ts
  yarn.lock
Labels: 🍑 Merge

#52 [SelectTime] 상영관 선택 section Event 구현
  src/components/SelectTime/SelectMovie.jsx
  src/components/SelectTime/TimeTable.tsx
  src/pages/SelectTime.tsx
Labels: 🌱 Feat, ⏱️ SelectTime

#64 [Payment] 결제하기 patch api
  src/components/Payment/PaymentBottomSheetFooter.tsx
  src/libs/payment.ts
  src/types/payment.ts
Labels: 🌱 Feat, 💸 Payment, 🚀Api

#67 [Home] 무비카드 API 연결 (영화 차트 리스트 조회)
  src/components/Home/BookingFloatingButton.tsx
  src/components/Home/MovieCard.tsx
  src/components/Home/MovieCardSlider.tsx
  src/components/Home/TopButton.tsx
  src/constants/Movie.ts
  src/libs/movieCardInfo.ts
  src/pages/Home.tsx
Labels: 🦋 Design, 🏠 Home, 🚀Api
