Repository DOSOPT-CDS-WEB-4/CGV-Web-Client, pull requests merged in 2023-12, with the labels that each got.

#65 [SelectTime] style 수정
  src/components/SelectTime/SelectDate.tsx
  src/components/SelectTime/SelectMovie.tsx
  src/components/SelectTime/SelectRegion.tsx
  src/components/SelectTime/TimeTable.tsx
Labels: ☂️ Chore, 🦋 Design, ⏱️ SelectTime

#76 [SelectTime] 빠른예매 영화 상세정보 조회 api 연결
  src/components/SelectTime/MovieInfo.tsx
  src/components/SelectTime/SelectDate.tsx
  src/components/SelectTime/SelectMovie.tsx
  src/components/SelectTime/SelectRegion.tsx
  src/components/SelectTime/TimeTable.tsx
  src/libs/filtereingScreenType.ts
  src/libs/getInitDate.ts
  src/libs/getSelectRegion.ts
  src/libs/getSelectTimeApi.ts
  src/pages/SelectTime.tsx
  src/recoil/atom.ts
  src/types/ScheduleType.ts
  src/types/SelectTimeMovieInfo.ts
  src/types/SelectTimeResponse.ts
  src/types/paymentMovieInfo.ts
Labels: ☂️ Chore, 🌱 Feat, 🎈 Fix, ⏱️ SelectTime, 🚀Api

#73 [Home] 버튼 누르면 movie_id 전달 & 무비 카드
  src/components/Home/BookingFloatingButton.tsx
  src/components/Home/MovieCard.tsx
  src/components/Home/MovieCardSlider.tsx
  src/pages/Home.tsx
  src/recoil/atom.ts
Labels: 🌱 Feat, 🏠 Home

#77 Feature/SelectTime -> develop
  src/components/SelectTime/MovieInfo.tsx
  src/components/SelectTime/SelectDate.tsx
  src/components/SelectTime/SelectMovie.tsx
  src/components/SelectTime/SelectRegion.tsx
  src/components/SelectTime/TimeTable.tsx
  src/libs/filtereingScreenType.ts
  src/libs/getInitDate.ts
  src/libs/getSelectRegion.ts
  src/libs/getSelectTimeApi.ts
  src/pages/SelectTime.tsx
  src/recoil/atom.ts
  src/types/ScheduleType.ts
  src/types/SelectTimeMovieInfo.ts
  src/types/SelectTimeResponse.ts
  src/types/paymentMovieInfo.ts
Labels: 🍑 Merge

#78 Feature/home -> develop
  src/components/Home/BookingFloatingButton.tsx
  src/components/Home/MovieCard.tsx
  src/components/Home/MovieCardSlider.tsx
  src/components/Home/TopButton.tsx
  src/constants/Movie.ts
  src/libs/like.ts
  src/libs/movieCardInfo.ts
  src/pages/Home.tsx
  src/recoil/atom.ts
Labels: 🍑 Merge

#81 [SelectTime] Home에서 Event에 따른 movieId 받아오기
  src/components/Home/BookingFloatingButton.tsx
  src/components/Home/MovieCard.tsx
  src/components/Home/MovieCardSlider.tsx
  src/components/Home/TopButton.tsx
  src/components/SelectTime/SelectRegion.tsx
  src/constants/Movie.ts
  src/libs/getSelectRegion.ts
  src/libs/like.ts
  src/libs/movieCardInfo.ts
  src/pages/Home.tsx
  src/recoil/atom.ts
Labels: ☂️ Chore, 🌱 Feat

#86 [Home] 플로팅 버튼 배치
  src/assets/icon/btn_floating.svg
  src/assets/icon/index.ts
  src/components/Home/BookingFloatingButton.tsx
  src/components/Home/TopButton.tsx
Labels: 🏠 Home

#89 [Home] 무비 카드 핸들링
  src/components/Home/MovieCard.tsx
Labels: 🌱 Feat, 🏠 Home

#90 [SelectTime] SelectPerson bottomsheet 연결하기
  src/Router.tsx
  src/components/SelectTime/SelectMovie.tsx
  src/components/SelectTime/SelectPerson/SelectPersonBottomSheet.tsx
  src/components/SelectTime/SelectPerson/SelectPersonBottomSheetAtoms/SelectPersonBottomSheetBtn.tsx
  src/components/SelectTime/SelectPerson/SelectPersonBottomSheetAtoms/SelectPersonBottomSheetContents.tsx
  src/components/SelectTime/TimeTable.tsx
  src/hooks/useBottomSheet.tsx
  src/pages/SelectPersonTest.tsx
  src/pages/SelectTime.tsx
  src/recoil/atom.ts
Labels: ☂️ Chore, 🌱 Feat, 🫐 Remove, ⏱️ SelectTime

#94 [Payment] 영화 정보 값들 리코일에서 가져오기
  src/components/Payment/PaymentBottomSheetFooter.tsx
  src/components/Payment/PaymentMovieInfo.tsx
  src/components/SelectTime/SelectPerson/SelectPersonBottomSheetAtoms/SelectPersonBottomSheetContents.tsx
  src/recoil/atom.ts
  src/types/ScheduleType.ts
Labels: ☂️ Chore, 🌱 Feat, 💸 Payment

#96 Feature/payment => develop!!!!!!
  src/components/Payment/PaymentBottomSheetFooter.tsx
  src/components/Payment/PaymentMovieInfo.tsx
  src/components/SelectTime/SelectPerson/SelectPersonBottomSheetAtoms/SelectPersonBottomSheetContents.tsx
  src/libs/payment.ts
  src/recoil/atom.ts
  src/types/ScheduleType.ts
  src/types/payment.ts
Labels: 🍑 Merge

#97 Feature/select-time -> develop
  src/components/SelectTime/Footer.tsx
  src/components/SelectTime/MovieInfo.tsx
  src/components/SelectTime/SelectDate.tsx
  src/components/SelectTime/SelectMovie.tsx
  src/components/SelectTime/SelectRegion.tsx
Labels: 🍑 Merge
